@use '../../styles/Partials/mixins';
.video{
    border-right: 1px solid blue;
    border-left: 1px solid blue;
    @include mixins.tablet{
        background: rgba($color: black, $alpha: 1.0);
        width: 100%;
        height: fit-content;
        
    }
    @include mixins.desktop{
        background: rgba($color: black, $alpha: 1.0);
        width: 100%;
        height: fit-content;
        
    }
    
    &__content{
        width: 100%;
        @include mixins.tablet{
            padding-left: 2rem;
            padding-right: 2rem;
        }
        @include mixins.desktop{
            padding-left: 12rem;
            padding-right: 12rem;
        }
        

    }
   
}