@use '../../../src/styles/Partials/mixins';

.videoupload{
    padding:0px 16px 0px 16px;
    @include mixins.tablet{
        display: flex;
        flex-direction: column;
        padding:0px 2rem 0px 2rem ;
    }
    @include mixins.desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:0px 7rem 0px 7rem ;
        border-top: 2px solid #E1E1E1;


    }
    &__container1{
        @include mixins.desktop{
            padding-top: 1rem;
            padding-right: 2rem;
        }
    }
    &__thumbnail{
        font-size: 0.7rem;
        color: #afafaf;
        font-weight: 700;
        padding-bottom: 0.5rem;
        @include mixins.tablet{
            padding-top: 1.5rem;
            border-top: 2px solid #e1e1e1;
        }
    }
    &__image{
        width: 100%;
        border-radius: 5px;
        @include mixins.tablet{
            width: 50%;
        }
        @include mixins.desktop{
            width: 20rem;
        }
        }

}
.title{
    padding-top: 2rem;
    border-top: 2px solid #e1e1e1;
    padding-left: 16px;
    padding-bottom: 1rem;
    @include mixins.tablet{
        padding-left: 2rem;
        padding-bottom: 1.5rem;
    }
    @include mixins.desktop{
        padding-bottom: 1.5rem;
        padding-left: 7rem;
        font-size: 2.1rem;
    }
}
.image{
    // width: 100%;
    // border-radius: 5px;
    // @include mixins.tablet{
    //     width: 50%;
    // }
    // @include mixins.desktop{
    //     width: 25%;
    // }
}
.upload{
    &__container{
        display: flex;
        flex-direction: column;
        @include mixins.tablet{
            
        }
        @include mixins.desktop{
            flex-direction: row;
           
        }
    }
    &__subcontainer1{
        display: flex;
        flex-direction: column;
        @include mixins.desktop{
            //padding-right: 2rem;
            //width: 100%;
        }
    }
    &__subcontainer2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 16px 0px 16px;
        @include mixins.tablet{
            flex-direction: row;
            justify-content: flex-end;
            //align-items: center;
            border-top: 2px solid #e1e1e1;
            margin-top: 1rem;
            padding-top: 1rem;
        }
        @include mixins.desktop{
            flex-direction: row;
            justify-content: flex-end;
            //align-items: center;
            border-top: 2px solid #e1e1e1;
            padding: 1rem 7rem 1rem 7rem;
            margin-top: 1rem;
        }
    }
    &__image{
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        margin-top: 1rem;
        ::placeholder{
            color: #E1E1E1;
        }

    }
    &__input1{
        width: 100%;
        height: 2rem;
        padding-left: 1rem;
        color: black;
        background-color: #fafafa;
        border-radius: 5px;
        border: 1px solid #E1E1E1;
        //font-size: 0.7rem;
        :active{
            border: 2px solid blue;
        }
        :hover{
            border: 2px solid blue;
        }
        @include mixins.tablet{
            //height: 2rem;
            //width: 30rem;
        }
        @include mixins.desktop{
            height: 2.01rem;
            width: 42rem;
        }
        
    }
    &__input2{
        width: 100%;
        height: 5.3rem;
        padding-left: 1rem;
        color: black;
        background-color: #fafafa;
        border-radius: 5px;
        border: 1px solid #E1E1E1;
        :active{
            border: 2px solid blue;
        }
        :hover{
            border: 2px solid blue;
        }
        @include mixins.tablet{
            //padding-bottom: 1rem;
            //height: 2rem;
            //width: 30rem;
        }
        @include mixins.desktop{
            height: 7rem;
            width: 42rem;
        }
        
    }
    
    &__publish{
        padding-top: 1rem;
        padding-bottom: 2rem;
        width: 100%;
        @include mixins.tablet{
            padding: unset;
            width: unset;
            padding-left: 3rem;
        }
        @include mixins.desktop{
            padding: unset;
            width: unset;
            padding-left: 3rem;
        }
        &--button{
            width: 100%;
            height: 2rem;
            background-color: #0095FF;
            border-radius: 5px;
            border: none;
            color: white;
            font-size: 0.7rem;
            font-weight: 700;
            background-image: url('../../Assets/Icons/publish.svg');
            background-repeat: no-repeat;
            background-position-x: 0.5rem;
            background-position-y: center;
            background-size: 1.2rem;
            @include mixins.tablet{
                width: 8rem;
                font-size: 0.7rem;
                font-weight: 700;
            }
            @include mixins.desktop{
                width: 10rem;
                font-size: 0.75rem;
                font-weight: 500;
            }
        }

    }
    &__cancel1{
        display: none;
        @include mixins.tablet{
            display: flex;
            justify-content: center;
        }
        @include mixins.desktop{
            display: flex;
            justify-content: center;
        } 
        &--button{
            @include mixins.tablet{
                color: #0095FF;
                font-weight: 700;
                font-size: 0.8rem;
                border: none;
                background-color: white;
            }
            @include mixins.desktop{
                color: #0095FF;
                font-weight: 700;
                font-size: 0.8rem;
                border: none;
                background-color: white;

            }
        }  
    } 
        // @include mixins.desktop{
        //     display: flex;
        //     justify-content: center;
        // } 
    
    &__cancel2{
        
        &--button{
            color: #0095FF;
            font-weight: 700;
            font-size: 0.8rem;
            border: none;
            background-color: white;
            @include mixins.tablet{
                display: none;
            }
            @include mixins.desktop{
                display: none;
            }
        }  
    }
    &__label{
        color: #afafaf;
        font-weight: 700;
        font-size: 0.7rem;
        padding-top: 1rem;
        padding-bottom: 0.2rem;

    }
}
input[name="videodescription"]::placeholder {
                 
    text-align: left;
    position: relative;
    top: 0%;
    transform: translateY(-120%);
    color: black;
}
input[name="videotitle"]::placeholder {            
    color: black;
}
